@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Screen Size
$mobileVersion: 300px;
$tabletVersion: 700px;
$desktopVersion: 1000px;

// Colors
$mainColor: #fe4802;
$footerColor: #1f1f2e;

// Font Families
$fontFamily: "Poppins", sans-serif;