@media (min-width: $mobileVersion) {

    %button {
        background-color: $mainColor;
        border: 3px solid transparent;
        color: white;
        font-weight: 600;
    }

    img {
        width: 20%;
    }

    p {
        color: gray;
    }
    // nav
    nav {
        position: relative;
       
        > article {
            background-color: $footerColor;

            span {
                display: flex;
                align-items: center;
                column-gap: 2vh;
                color: white;
            }
    
            i,
            a {
                color: white;
                font-size: 14px;
            }
            
            ul {
                display: flex;
                width: 50%;
            }
    
            li {
                display: flex;
                width: 100%;
                justify-content: center;
            }
        }

        > section {
            width: 92%;
            padding: 0vh 4%;
            min-height: 8vh;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                // width: 80%;
                display: flex;
                column-gap: 2vh;
                color: $mainColor;
            }

            > ul,
            > a {
            display: none;
            }
        }

        aside {
            min-height: 14vh;
            align-items: center;
            justify-content: center;
            row-gap: 2vh;
        }   
    }

    details {
        width: 92%;
        position: absolute;
        text-align: right;

        ul {
            position: absolute;
            width: 100%;
            padding-top: 1vh;
        }

        li {
            display: flex;
            width: 100%;
            background-color: white;
        }

        a {
            width: 100%;
            padding: 2vh;
            text-align: left;
            color: $footerColor;
            font-weight: 600;
        }

    }

    summary {
        color: gray;
        border: 1px solid #f2f2f4;
        padding: 1vh 2vh;
        font-size: 17px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // height: 5vh;
        // width: 5vh;
    }

    // header
    header {
        background-image: url(../../img/bg-header.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;

        > article {
            width: 100%;
            height: 100%;
            background-color: rgba(40,40,40,.9);
            @include displayColumn(5vh);
            justify-content: center;
            align-items: center;
        }

        aside {
            @include displayColumn(2vh);
            text-align: center;
            align-items: center;
        }

        h3 {
            color: $mainColor;
            font-size: 24px;
        }

        h1 {
            color: white;
            font-size: 34px;
            width: 50%;
        }

        form {
            width: 90%;
            @include displayRow;
        }

        input {
            width: 55%;
            padding: 3vh 2vh;
        }
        
        [type="submit"]{
            border: 3px solid $mainColor;
            width: 45%;
            @extend %button
        }
    }

    // main
    main {
        align-items: center;
        row-gap: 15vh;
        padding: 15vh 0vh;
    }

    // about
    .about {
        width: 100%;
        align-items: center;
        row-gap: 5vh;

        > figure {
            display: flex;
            flex-direction: column;
            width: 90%;
        }

        figcaption {
            background-color: $mainColor;
            height: 12vh;
            display: flex;
            justify-content: center;
            align-items: center;

            > p {
                font-size: 20px;
                font-weight: 600;
                color: black;
            } 
        }

        img {
            width: 100%;
        }

        > section {
            width: 90%;
            @include displayColumn(5vh);    
        }

        article {
            @include displayColumn (1vh);
        }

        h5 {
            color: $mainColor;
            font-size: 14px;
        }

        h2 {
            font-size: 30px;
            font-weight: 600;
            width: 80%;
        }

        aside {
            @include displayRow(3vh);
            align-items: center;

            > p {
                font-size: 18px;
                color: black;
                font-weight: 600;
            }
        }

        a {
            background-color: $mainColor;
            border: 7px solid rgb(255, 171, 138);
            border-radius: 50%;
            color: black;
            height: 10vh;
            width: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }
    }

    // services
    .services {
        background-color: #f2f2f4;
        align-items: center;
        padding-bottom: 5vh;

        > figure {
            width: 90%;
            @include displayColumn(5vh);
        }

        img {
            width: 100%;
        }

        figcaption {
            @include displayColumn(5vh)
        }

        article {
            @include displayColumn (1vh);
        }

        h5 {
            color: $mainColor;
            font-size: 14px;
        }

        small {
            font-size: 16px;
        }

        h2 {
            font-size: 30px;
            font-weight: 600;
            width: 80%;
        }

        ul {
            @include displayColumn(1vh);
        }

        li {
            @include displayRow(2vh);
            align-items: center;
        }

        h6 {
            width: 1vh;
            height: 1vh;
            border-radius: 50%;
            background-color: $mainColor;
            border: 3px solid #f2f2f4;
            outline: 2px solid $mainColor
        }

        a {
            @extend %button;
            width: 30%;
            padding: 1vh;
            text-align: center;
        } 

    }

    // team
    .team {
        align-items: center;
        row-gap: 5vh;

        figcaption{
            section {
                display: none;
            }
        }

        > article {
            width: 90%;
            @include displayColumn(1vh);
            align-items: center;
            text-align: center;
        }

        h5 {
            color: $mainColor;
            font-size: 16px;
            font-weight: 600;
        }

        h2 {
            font-size: 30px;
            font-weight: 600;
            width: 80%;
            font-weight: 600;
        }

        > section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 10vh;
        }

        figure {
            width: 90%;
            background-color: #f2f2f4;
            border-bottom: 5px solid $mainColor;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            article {
                height: 15vh;
                @include displayColumn(1vh);
                justify-content: center;
            }
        }

        img {
            width: 100%;
        }

        strong {
            font-size: 18px;
        }

    }

    // blog
    .blog {
        align-items: center;
        row-gap: 5vh;

        > article {
            width: 90%;
            @include displayColumn(1vh);
            align-items: center;
            text-align: center;
        }

        h5 {
            color: $mainColor;
            font-size: 16px;
            font-weight: 600;
        }

        h2 {
            font-size: 30px;
            font-weight: 600;
            width: 80%;
            font-weight: 600;
        }

        > section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 10vh;
        }

        figure{
            width: 90%;
            background-color: #f2f2f4;
            // display: flex;
            // @include displayColumn(3vh);
            // align-items: center;
        }

        img {
            width: 100%;
        }

        figcaption {
            @include displayColumn(2vh);
            padding: 8%;
        }

        ul {
            display: flex;
            justify-content: space-evenly;
        }

        li {
            display: flex;
            align-items: center;
            column-gap: 2vh;

            p {
                width: 50%;
            }

            i {
                color: $mainColor;
            }
        }

        h4 {
            font-size: 22px;
        }

        a {
            @include displayRow (1vh);
            color: $mainColor;
            border-bottom: 1px solid $mainColor;
            width: 20vh;
        }
    }
    
    // footer
    footer {
        background-color: $footerColor;

        > article {
            min-height: 150vh;
            justify-content: center;
            align-items: center;
            row-gap: 5vh;

            ul {
                display: flex;
                flex-direction: column;
                row-gap: 3vh;
            }

            ol {
                display: flex;
                width: 50%;
            }

            li {
                width: 100%;
                column-gap: 2vh;
                align-items: center;
                
            }
        }

        > section {
            border-top: 1px solid dimgray;
            min-height: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            row-gap: 2vh;

            p {
                width: 90%;
                color: white;
            }

            ul {
                display: flex;
                width: 80%;
            }

            li {
                display: flex;
                justify-content: center;
                width: 100%;
            }

        }

        span {
            color: $mainColor;
        }

        aside {
            width: 90%;
            row-gap: 4vh;
        }

        a {
            color: white;
        }

        address,
        i,
        p {
            color: white;
        }

        h3 {
            color: $mainColor;
            font-size: 22px;
        }

        form {
            display: flex;
            width: 100%;
        }

        input {
            border: none;
            padding: 3vh;
            width: 70%;
        }

        [type="submit"] {
            width: 30%;
            background-color: $mainColor;
            color: white;
            transition: .4s;
            border: none;
            border: 3px solid $mainColor;
        }

    }
    
    ol  [href="#"] {
        border: 1px solid white;
        border-radius: 50%;
        height: 6vh;
        width: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}